@import "../variable.module";

.start_button {
  width: 48vw;
  height: 20vh;
  border-radius: 20px;
  font-size: 40px;
  background-color: white;
  &:hover {
    background-color: lightgray;
    border-color: lightgray;
    cursor: pointer;
  }
}
