// header
$header_padding_x: 16px;

$header_padding_y: 0px;

$header_height: 51px;

//color
$header_background_color: hsl(118, 61%, 82%);
$border_color: hsl(118, 61%, 82%);


//board
$board_height: 65vh;
$board_gap: .3rem;
$board_padding: 5rem;
